{{#content 'action'}}
    callout
{{/content}}

<form role="form" method="post" class="js-submit-callout">
    <div class="js-insert-hidden"></div>
    <div class="container">
        <div class="pagelayout">
            <div class="pageheader">
                <h1>Call out a friend</h1>
            </div>
            <div class="pagebody clearfix">
                <div class="col-md-6">
                    <h2>
                        <strong>Step 1:</strong> Select a friend to call out
                    </h2>
                    <div class="roundbox js-friend-hide" style="height:309px !important;">
                        <h3>Call them out through Facebook</h3>
                        <button type="button" class="btn btn-default btn-lg btn-block js-facebook-friends">Select a Facebook Friend</button>
                        <p class="text-center spacer">
                            or
                        </p>

                        <h3>Call them out through email</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" name="callout-input-name" placeholder="Friend's Name" tabindex="1">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="callout-input-email" placeholder="Friend's Email" tabindex="2">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h2>
                        <strong>Step 2:</strong> Why are you calling your friend out?
                    </h2>
                    <div class="roundbox" style="height:309px !important;">
                        <div class="form-group">
                            <textarea class="form-control js-grab-description" rows="12" name="callout-description" required="required" tabindex="3" placeholder="Explain your call out details"></textarea>

                        </div>
                        <!-- <div class="form-group">
                            <label for="exampleInputFile">Upload an image from your computer</label> <input type="file" id="exampleInputFile">
                            <p class="text-center">
                                or
                            </p>
                            <button type="button" class="btn btn-default btn-block">Insert a Facebook Image</button>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="pagefooter clearfix">
               <!-- <label><input type="checkbox" tabindex="4" required> &nbsp;&nbsp; I accept the <a href="#">Terms &amp; Conditions</a></label> --> <button type="submit" class="btn btn-primary btn-lg pull-right" tabindex="5">Create your call out</button>
            </div>
        </div>
    </div>


<br>
<br>

        <div class="blackback clearfix">
  <div class="container">
  <div class="col-md-6">
  <p style="color:#f1f2f4; font-weight:lighter;">* <small>Redeemr is a person that needs to compensate for a fault by making a contribution to the community.</small></p>
  </div>
  <div class="col-md-6">
 <p style="color:#f1f2f4; font-weight:bold;" class="text-right">Copyright © 2013 Redeemr</p>
  </div>
  <p></p>
  </div>
  </div>
</form>
