<form role="form" action="/callout" method="post">
<nav class="navbar navbar-default navbar-fixed-top header" role="navigation">
<div class="container">
 <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><strong>Redeemr</strong></a>  
           </div>
           
           
            <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
            <li class="active"><a href="#">How it works?</a></li>
            <!-- <li><a href="#about">Examples</a></li> -->
          </ul>
<a type="button" class="btn btn-default navbar-btn btn-sm btn-default navbar-right">Login /  Signup</a>

          </div>

          

</div>
</nav>

<div class="container">

  <div class="pagelayout">

<div class="pageheader">
<h1>Create a call out</h1>
</div>

<div class="pagebody clearfix">

<div class="col-md-6">
<h2><strong>Step 1:</strong> Start by calling out your friend</h2>

<div class="roundbox">
<h3>Call out your friend with Facebook</h3>
<button type="button" class="btn btn-default btn-lg btn-block">Select a Facebook Friend</button>
<p class="text-center spacer">or</p>
<h3>Call out  your friend with email</h3>
 <div class="form-group">
    <input type="text" class="form-control" name="callout-name" placeholder="Friend's Name">
  </div>
 <div class="form-group">
    <input type="email" class="form-control" name="callout-email" placeholder="Friend's Email">
  </div>
</div>

</div>

<div class="col-md-6">
<h2>
<strong>Step 2:</strong> Describe your call out</h2>

<div class="roundbox">

  <div class="form-group">
 <textarea class="form-control" rows="5" name="callout-description">Explain your call out details</textarea>
  </div>

   <div class="form-group">
    <label for="exampleInputFile">Upload an image from your computer</label>

    <input type="file" id="exampleInputFile">



  <p class="text-center">or</p>

  <button type="button" class="btn btn-default btn-block">Insert a Facebook Image</button>

  
</div>

</div>

</div>



      </div>
      <div class="pagefooter">
 <label>
      <input type="checkbox"> &nbsp;&nbsp;I accept the <a href="#">Terms & Conditions</a>
    </label>
    <button type="submit" class="btn btn-primary  pull-right">Create your call out</button>
</div>
    </div>
    </form>

    
