<div class="navbar navbar-fixed-top header">
<div class="container">

           <a class="navbar-brand" href="#"><strong>Redeemr</strong></a>  
           <ul class="nav navbar-nav">
            <li class="active"><a href="#">How it works?</a></li>
            <li><a href="#about">Examples</a></li>
          </ul>
          <button type="button" class="btn btn-default navbar-btn btn-sm btn-primary navbar-right">Login /  Signup</button>
          
</div>
</div>

<div class="feature_statement clearfix">
  <div class="container">
<div class="col-md-8 col-md-offset-2">
      
        <h1><strong>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</strong></h1>
        <button type="button" class="btn btn-primary btn-lg">Signup with Facebook</button>

      </div>
      </div>
    </div>
    
    <div class="secondary_statement clearfix">
  <div class="container">
      <div class="col-md-12 text-center">
        <h2><strong>How it works?</strong> </h2>
        </div>
        <div class="col-md-5 text-center">
   <img src="images/chuck.jpg" width="90%" alt="..." class="img-thumbnail text-center">
       </div>
               <div class="col-md-7">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. </p>
       </div>
       
      </div>
      </div>
    </div>
    
      <div class="secondary_statement clearfix">
  <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2><strong>Examples</strong> </h2>
        </div>
        
     
               <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>
                      <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>
                      <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>
    
      </div>
      </div>
    </div>