{{#content 'action'}}
    home
{{/content}}

<div class="feature_statement lightback clearfix">
  <div class="container">
<div class="col-md-8 col-md-offset-2">
        <h1>Call out a friend to let them redeem themselves by donating to a local non-profit. </h1>
        <button type="button" class="btn btn-primary btn-lg js-facebook-login js-callout-button js-login-change">Get started by logging with Facebook</button>
      </div>
      </div>
    </div>

    <div class="secondary_statement clearfix darkback" id="how">
  <div class="container">
      <div class="col-md-12 text-center">
        <h2>How it works</h2>
        </div>
        <div class="col-md-5 text-center col-md-offset-1">
   <img src="images/icons.jpg" width="100%" alt="..." class="text-center">
       </div>
               <div class="col-md-5">
        <p class="lead">The idea for <strong>Redeemr</strong> is to help the community to be nice with each other, or at least make them pay if their not. If your friend owes you a favor, made fun of you or stole your girlfriend… he needs to redeem himself. In other words he needs to pay.</p>
<p class="lead">
Redeemr is like a <strong>virtual douchebag jar</strong>, that allows people to donate money to a local non-profit organization for every bad thing they say or do. It all starts with a friend calling someone out, the Redeemr* will be notified and will be offered the chance to redeem themselves. Infractions will start at $2 but can be worth more at the discretion of the Redeemr.  </p>
       </div>

      </div>
      </div>
    </div>

 <div class="secondary_statement clearfix lightback" id="non">
  <div class="container">
      <div class="col-md-12 text-center">
        <h2>Featured Non-Profit</h2>
        </div>
          <div class="col-md-5 col-md-offset-1">
        <p class="lead"><strong>Take Stock in Children</strong> provides a unique opportunity for deserving low-income youth/students, many from minority families, to escape the cycle of poverty through education. They offer their students college scholarships, caring volunteer mentors and hope for a better life. Their comprehensive services start in middle school, continue through high school and include their transition into college.</p>
        <a class="btn btn-primary js-facebook-login" href="http://www.takestockinchildren.org/">Learn More</a>
       </div>

        <div class="col-md-5 text-center">
   <iframe src="//player.vimeo.com/video/50504179" width="100%" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
       </div>

      </div>
      </div>
    </div>

     <!-- <div class="secondary_statement clearfix lightback">
  <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Examples</h2>
        </div>


               <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>
                      <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>
                      <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>

      </div>
      </div> -->
    </div>

    <div class="blackback clearfix">
  <div class="container">
  <div class="col-md-6">
  <p style="color:#f1f2f4; font-weight:lighter;">* <small>Redeemr is a person that needs to compensate for a fault by making a contribution to the community.</small></p>
  </div>
  <div class="col-md-6">
 <p style="color:#f1f2f4; font-weight:bold;" class="text-right">Copyright © 2013 Redeemr</p>
  </div>
  <p></p>
  </div>
  </div>
