{{#content 'action'}}
    home
{{/content}}

<nav class="navbar navbar-default navbar-fixed-top header" role="navigation">
<div class="container">
 <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><strong>Redeemr</strong></a>
           </div>


            <div class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
            <li><a href="#how">How it works</a></li>
            <li><a href="#non">Featured non-profit</a></li>
            <!-- <li><a href="#about">Examples</a></li> -->
          </ul>
<a type="button" class="btn btn-default navbar-btn btn-sm btn-primary navbar-right js-facebook-login">Login /  Sign Up</a>

          </div>



</div>
</nav>

<div class="feature_statement lightback clearfix">
  <div class="container">
<div class="col-md-8 col-md-offset-2">
        <h1>Here’s your chance to get back at a friend, in a nice way that is. <strong>Call out a Redeemr!</strong></h1>
        <button type="button" class="btn btn-primary btn-lg js-facebook-login">Call out a friend now</button>
      </div>
      </div>
    </div>

    <div class="secondary_statement clearfix darkback" id="how">
  <div class="container">
      <div class="col-md-12 text-center">
        <h2>How it works?</h2>
        </div>
        <div class="col-md-5 text-center col-md-offset-1">
   <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
       </div>
               <div class="col-md-5">
        <p class="lead">Redeemer is a <strong>virtual douchebag jar</strong>, the purpose it’s to help correct someone's bad behavior by making a contribution to the community. The person will put money in the jar for anything he says or does that is considered douchey. Infractions are typically worth $1, but can be worth more, at the discretion of The Caller. The Redeemr will try to fight back when you call them out, but at the end, his contribution will benefit a local non-profit organization.  </p>
       </div>

      </div>
      </div>
    </div>

 <div class="secondary_statement clearfix lightback" id="non">
  <div class="container">
      <div class="col-md-12 text-center">
        <h2>Featured Non-Profit</h2>
        </div>
          <div class="col-md-5 col-md-offset-1">
        <p class="lead"><strong>Take Stock in Children</strong> provides a unique opportunity for deserving low-income youth/students, many from minority families, to escape the cycle of poverty through education. They offer their students college scholarships, caring volunteer mentors and hope for a better life. Their comprehensive services start in middle school, continue through high school and include their transition into college.</p>
       </div>

        <div class="col-md-5 text-center">
   <iframe src="//player.vimeo.com/video/50504179" width="100%" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/50504179">Change a Life Over Lunch</a> from <a href="http://vimeo.com/takestock">Take Stock in Children</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
       </div>
             
      </div>
      </div>
    </div>

     <!-- <div class="secondary_statement clearfix lightback">
  <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Examples</h2>
        </div>


               <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>
                      <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>
                      <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>

      </div>
      </div> -->
    </div>
