<nav class="navbar navbar-default navbar-fixed-top header" role="navigation">
<div class="container">
 <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><strong>Redeemr</strong></a>  
           </div>
           
           
            <div class="collapse navbar-collapse">
           <ul class="nav navbar-nav">
            <li class="active"><a href="#">How it works?</a></li>
            <li><a href="#about">Examples</a></li>
          </ul>
<a type="button" class="btn btn-default navbar-btn btn-sm btn-primary navbar-right">Login /  Signup</a>

          </div>

          

</div>
</nav>

<div class="feature_statement lightback clearfix">
  <div class="container">
<div class="col-md-10 col-md-offset-1">
      
        <h1>Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</h1>
        <button type="button" class="btn btn-primary btn-lg">Signup with Facebook</button>

      </div>
      </div>
    </div>
    
    <div class="secondary_statement clearfix darkback">
  <div class="container">
      <div class="col-md-12 text-center">
        <h2>How it works?</h2>
        </div>
        <div class="col-md-5 text-center col-md-offset-1">
   <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
       </div>
               <div class="col-md-5">
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam quis risus eget urna mollis ornare vel eu leo. </p>
       </div>
       
      </div>
      </div>
    </div>
    
     <!-- <div class="secondary_statement clearfix lightback">
  <div class="container">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2>Examples</h2>
        </div>
        
     
               <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>
                      <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>
                      <div class="col-md-4">
                <img src="images/chuck.jpg" width="100%" alt="..." class="img-thumbnail text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
       </div>
    
      </div>
      </div> -->
    </div>