<div class="navbar navbar-fixed-top header">
<div class="container">

           <a class="navbar-brand" href="#"><strong>Redeemr</strong></a>  
           <ul class="nav navbar-nav">
            <li class="active"><a href="#">How it works?</a></li>
            <li><a href="#about">Examples</a></li>
          </ul>
          <button type="button" class="btn btn-default navbar-btn btn-sm btn-primary navbar-right">Login /  Signup</button>
          

</div>
</div>

<div class="navbar navbar-fixed-top header">
<div class="container">

           <a class="navbar-brand" href="#"><strong>Redeemr</strong></a>  
           <ul class="nav navbar-nav">
            <li class="active"><a href="#">How it works?</a></li>
            <li><a href="#about">Examples</a></li>
          </ul>
          <button type="button" class="btn btn-default navbar-btn btn-sm btn-primary navbar-right">Login /  Signup</button>
          

</div>
</div>
