body {
	padding-top: 50px;
	background-color: #e7e7e7;
	font-weight: lighter;
}
.header{border-bottom-color: #cccccc; background-color: white;}
.feature_statement{ padding-bottom: 100px; padding-top: 100px; border-bottom-color: #b3b3b3; border-bottom-style: solid; border-bottom-width: 1px; text-align: center; background-size: cover; }
.feature_statement h1{ margin-bottom: 25px; text-align: center; font-weight: lighter; text-shadow: 0px 0px 10px rgba(255, 255, 255, 1);}
.secondary_statement{padding-bottom: 40px; padding-top: 20px; }
.secondary_statement h2{ margin-bottom: 20px; font-weight: lighter; }
.secondary_statement .lead{ color: gray; line-height: 28px; margin-top: 10px; font-size: 16px; }
.secondary_statement p {  }
.darkback {background-color: #cdcdcd; border-bottom-color: #b3b3b3; border-bottom-style: solid; border-bottom-width: 1px;}
.lightback {border-bottom-color: #b3b3b3; border-bottom-style: solid; border-bottom-width: 1px;background-color: #f1f2f4;}
.pagelayout { }
.pageheader { margin-top: 30px; background-color: #dddddd; -webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-topright: 5px;
border-top-left-radius: 5px;
border-top-right-radius: 5px; }
.pageheader h1 { margin: 0px; color: #4c4c4c; font-size: 22px !important; padding: 30px; font-weight: lighter;}
.pagebody { background-color: white; padding-top: 40px; padding-right: 30px; padding-left: 30px; padding-bottom: 30px; }
.pagebody h2 { margin-bottom: 20px; margin-top: 0px; font-size: 18px; font-weight: lighter; }
.pagebody h3 { margin-bottom: 10px; margin-top: 0px; font-size: 14px; font-weight: bold; }
.pagebody h4 { margin-top: 0px; margin-bottom: 15px; font-size: 14px; font-weight: bold; }
.roundbox { margin-bottom: 30px; background-color: #eeeeee; padding: 20px;-webkit-border-radius: 5px;-moz-border-radius: 5px; border-radius: 5px;}
.spacer {margin-bottom: 15px !important; margin-top: 15px !important;}
.pagefooter { padding: 30px; margin-bottom: 30px; background-color: #cccccc; -webkit-border-bottom-right-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-bottomleft: 5px;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px; }
hr {border-color: #b3b3b3;}
.lead{line-height: 36px}
.pagelayout .alert{margin-top: 30px;}
.navbar-brand {background-repeat: no-repeat; background-position: left center; padding-left: 34px; background-image:url('/images/logo.jpg'); margin-left: 15px !important; }


