<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap -->
	<link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="stylesheets/style.css" rel="stylesheet" media="screen">
</head>
	<body data-action="{{{block 'action'}}}">
		{{{ body }}}
		<div id="fb-root"></div>
		<script data-main="scripts/main" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js"></script>
	</body>
</html>
